<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="RealTouch"
            id="org.rt_thread.realtouch.dt.commands.category">
      </category>
      <command
            name="Preference"
            categoryId="org.rt_thread.realtouch.dt.commands.category"
            id="org.rt_thread.realtouch.dt.commands.preference">
      </command>
      <command
            categoryId="org.rt_thread.realtouch.dt.commands.category"
            id="org.rt_thread.realtouch.dt.commands.download"
            name="Download">
      </command>
      <command
            id="org.rt_thread.realtouch.dt.commands.downloadConfigure"
            name="Download Configurations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.rt_thread.realtouch.dt.commands.preference"
            class="org.rt_thread.realtouch.dt.handlers.PreferenceHandler">
      </handler>
      <handler
            class="org.rt_thread.realtouch.dt.handlers.DownloadHandler"
            commandId="org.rt_thread.realtouch.dt.commands.download">
      </handler>
      <handler
            class="org.rt_thread.realtouch.dt.handlers.DownloadConfigureHandler"
            commandId="org.rt_thread.realtouch.dt.commands.downloadConfigure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.rt_thread.realtouch.dt.commands.preference"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:project?after=additions">
         <command
               commandId="org.rt_thread.realtouch.dt.commands.download"
               id="org.rt_thread.realtouch.dt.menus.download"
               label="Download"
               style="push">
         </command>
         <command
               commandId="org.rt_thread.realtouch.dt.commands.downloadConfigure"
               id="org.rt_thread.realtouch.dt.menus.downloadConfigure"
               label="Download Configurations"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.rt_thread.realtouch.dt.commands.preference"
               id="org.rt_thread.realtouch.dt.menus.preference"
               label="RealTouch"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.rt_thread.realtouch.dt.toolbar">
            <command
                  commandId="org.rt_thread.realtouch.dt.commands.download"
                  icon="icons/download.gif"
                  id="org.rt_thread.realtouch.dt.toolbar.download"
                  label="Download"
                  style="pulldown"
                  tooltip="Download">
            </command>
            <command
                  commandId="org.rt_thread.realtouch.dt.commands.preference"
                  icon="icons/r.gif"
                  id="org.rt_thread.realtouch.dt.toolbar.preference"
                  label="RealTouch"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.rt_thread.realtouch.dt.toolbar.download?after=additions">
         <command
               commandId="org.rt_thread.realtouch.dt.commands.downloadConfigure"
               id="org.rt_thread.realtouch.dt.toolbar.downloadConfigure"
               label="Download Configurations"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rt_thread.realtouch.dt.RTPerspectiveFactory"
            icon="icons/r.gif"
            id="org.rt_thread.realtouch.dt.RTPerspective"
            name="RealTouch">
         <description>
            Perspective for RealTouch development
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rt_thread.realtouch.dt.RTPerspective">
         <actionSet
               id="org.eclipse.cdt.ui.buildConfigActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="org.rt_thread.realtouch.dt.wizards.NewRTTModuleWizard"
            finalPerspective="org.rt_thread.realtouch.dt.RTPerspective"
            icon="icons/newmngc_app.gif"
            id="org.rt_thread.realtouch.dt.wizards.newRTTModuleWizard"
            name="RT-Thread Module Project for RealTouch">
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="org.rt_thread.realtouch.dt.wizards.NewRTTWizard"
            finalPerspective="org.rt_thread.realtouch.dt.RTPerspective"
            icon="icons/newmngc_app.gif"
            id="org.rt_thread.realtouch.dt.wizards.newRTTWizard"
            name="RT-Thread Kernel Project for RealTouch">
      </wizard>
   </extension>

</plugin>
